<% layout("/layouts/boilerplate") %>

   <div class="row">
     <h2 class="heading text-center mt-4 mb-4 fw-bold">Update Your Property</h2>
     <div class="col-10 offset-1 col-md-6 col-lg-5 offset-lg-4">
  

    <form action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" method="POST"  class=" needs-validation form" novalidate>


        <div class="mb-3">
         <label for="title" class="form-label">Title</label>
    <input  class="form-control" type="text" name="title" value="<%= listing.title %>" id="placeholder-style"  required>
    <div class="invalid-feedback">
       Title is required.
      </div>

      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
    <textarea id="placeholder-style"  class="form-control"  name="description" required><%= listing.description %> </textarea>
    <div class="invalid-feedback">
        Description is required
      </div>
     </div>
    
     <div class="row">
     <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
    <input  class="form-control" type="number" name="price" value="<%= listing.price %>" id="placeholder-style"  required>
     <div class="invalid-feedback">
       Title is required.
      </div>
 </div> 

 <div class="mb-3 col-md-8">
        <label for="location" class="form-label">City</label>
    <input  class="form-control" type="text" name="location" value="<%= listing.location %>" id="placeholder-style"  required>
     <div class="invalid-feedback">
       location is required.
      </div>
     </div>

</div>


  <div class="mb-3">
       <label for="image" class="form-label">Upload New Image</label>
       <input type="file" name="image" value="<%= listing.image.url %>" class="form-control" id="placeholder-style"  >
       </div>


     
    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
    <input class="form-control" type="text" name="country" value="<%= listing.country %> " id="placeholder-style"  required>
     <div class="invalid-feedback">
       Country name is required.
      </div>
 </div>


    <button  class="btn btn-outline-success px-4 rounded-pill" type="submit">Update</button>
</form>

</div>
</div>
