<% layout("/layouts/boilerplate.ejs") %>

<div class="container mt-5">
  <div class="row">
    <!-- Left side: Image -->
    <div class="col-md-7">
      <div class="card border-0 shadow-sm rounded-4 overflow-hidden">
        <img 
          src="<%= listing.image.url %>" 
          class="img-fluid" 
          alt="Listing Image"
          style="height: 420px; object-fit: cover;"
        >
      </div>
    </div>

    <!-- Right side: Details -->
    <div class="col-md-5">
      <div class="ps-md-4 mt-4 mt-md-0">
        <h2 class="fw-bold"><%= listing.title %></h2>
        <p class="text-muted mb-4">
        Hosted by <b><%= listing.owner.username %></b>
        </p>

        <p class="text-muted mb-4">
          <i class="bi bi-geo-alt-fill text-danger"></i>
          <%= listing.location %>, <%= listing.country %>
        </p>
        <p class="text-secondary mb-4"><%= listing.description %></p>
        ₹<%= (listing.price || 0).toLocaleString("en-PK") %> /  nights


        <!-- Buttons -->
        <div class="d-flex gap-3 mt-3">
          <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
          <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark px-4 rounded-pill">
            <i class="bi bi-pencil-square">Edit</i> 
          </a>
          <form method="post" action="/listings/<%= listing._id %>/delete/?_method=DELETE">
            <button class="btn btn-outline-danger px-4 rounded-pill">
              <i class="bi bi-trash"> Delete</i>
            </button>
            
          </form>
          <% } %> 
        </div>
      </div>
    </div>
  </div>
</div>
                  <!-- Reviews row -->

  <div class="row mt-4">
    <h4><b>All Reviews</b></h4>
    <% listing.reviews.forEach((review, index) => { %>
      <div class="col-md-6 mb-3">
        <div class="card p-3 shadow-sm">
          <div>
           <p >   <Strong> @<%= review.author ? review.author.username : "Anonymous" %> </Strong></p>

            <% for(let i=0; i<review.rating; i++){ %>⭐<% } %>
          </div>
          
           


          <p><%= review.comment %></p>
          <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">
            Posted on <%= new Date(review.CreatedAt).toLocaleDateString() %>
              
          </small>
          <% if (review.author && currUser && review.author._id.toString() === currUser._id.toString()) { %>
          <form  action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
          <button class="btn btn-sm btn-danger ">Delete</button> 
          <% } %>
          </form>

          </div>
        </div>
      </div>
      <% if ((index + 1) % 2 === 0) { %>
        <div class="w-100"></div> <!-- Break row after 2 reviews -->
      <% } %>
    
    <% }) %>
  </div>

</div>


<% if(currUser){ %>
<div class="container mt-5">
  <div class="card shadow-sm rounded-4 p-4">
    <h4 class="mb-3 fw-bold">Leave a Review</h4>

    <form action="/listings/<%= listing._id %>/reviews" method="POST"  class="needs-validation" novalidate>

      <!-- Rating -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Rating</label>
        <select name="rating" class="form-select" required   >
          <option value="">Select rating</option>
          <option value="5">⭐⭐⭐⭐⭐ (5)</option>
          <option value="4">⭐⭐⭐⭐ (4)</option>
          <option value="3">⭐⭐⭐ (3)</option>
          <option value="2">⭐⭐ (2)</option>
          <option value="1">⭐ (1)</option>
        </select>
        <div class="invalid-feedback"> Rating is required.</div>
         <div class="valid-feedback">Looks good! </div>

      </div>

      <!-- Comment -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Comment</label>
        <textarea name="comment" class="form-control" rows="3"  placeholder="Write your experience..."  required ></textarea>
        <div class="invalid-feedback"> comment is required. </div>
         <div class="valid-feedback">Looks good! </div>

      </div>

      <button class="btn btn-dark rounded-pill px-4">
        Submit Review
      </button>

    </form>
  </div>
</div>
<% } %>